@model CUATRG.Models.LoginModel

@{
    ViewBag.Title = "Log in"; 
}

 
<div class="container well">
    <div class="panel-body">
        <section id="loginForm">

            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Log in </legend>
                    <div>
                        <div class="row">
                            <div class="col-sm-6">
                                 
                                    @Html.LabelFor(m => m.UserName)&nbsp;&nbsp;
                                    @Html.TextBoxFor(m => m.UserName)
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.LabelFor(m => m.Password)&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.PasswordFor(m => m.Password)
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div> <div class="row">
                            <div class="col-sm-4">
                                <input type="submit" value="Log in" />
                                </div>
                        </div>
                        </div>
</fieldset>

            }
        </section>
    </div>
</div>

    @*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@
