@model CUATRG.ViewModels.LibraryViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container well">
    @using (Html.BeginForm("Index", "Library", FormMethod.Post, new { id = "calcForm" }))
    { 
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active"><a href="#">Library</a></li>

        </ol>
        <div class="container">

            <h1>Image Search</h1>
            <br />
            <div class="col-md-6">
                <div class="col-md-4">
                    <div class="h4 margin-left">Album</div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        @Html.DropDownList("ddlAlbums",
                                                new SelectList(
                                                    Model.Albums.Select(x => new { Value = x.ALB_IDPkey, Text = x.ALB_Name }),
                                                    "Value",
                                                    "Text"
                                                   ),
                                                 "-- Select Album --",
                                                new { @class = "form-control" })
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="h4 margin-left">Env Cond</div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                      @Html.DropDownList("ddlConditions",
                                                new SelectList(
                                                    Model.Conditions.Select(x => new { Value = x.ENC_IDPkey, Text = x.ENC_Name }),
                                                    "Value",
                                                    "Text"
                                                   ),
                                                 "-- Select Condition --",
                                                new { @class = "form-control" })
                    </div>

                </div>
                
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    <div class="h4 margin-left">Feature</div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        @Html.DropDownList("ddlFeatures",
                                                new SelectList(
                                                    Model.Features.Select(x => new { Value = x.FTR_IDPkey, Text = x.FTR_Name }),
                                                    "Value",
                                                    "Text"
                                                ),
                                                 "-- Select Feature --",
                                                new { @class = "form-control" })
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="h4 margin-left"></div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                          
                    </div>

                </div>

            </div>



        </div>
    
        <br />
     
       
        <div class="col-md-6 col-sm-offset-2">
            <div class="col-md-3">
                <button type="submit" class="btn btn-lg btn-primary btn-block" name="submit">Search</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-lg btn-default btn-block">Clear</button>
            </div>
        </div>
         <br />
        <br />
        <br />
        if (Model.Images != null && Model.Images.Count > 0)
            {
        <table class="table table-striped">
            <tr>
                <th>Image</th>
                <th>Album</th>
                <th>Condition</th>
                <th>Feature</th>
                <th>View</th>
            </tr>
            
            @foreach (CUATRG.Models.tblImage image in Model.Images)
            {
                <tr class="align-middle">
                    <td><img style="height:64px;width:64px" src="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["domain"] + image.IMG_Path + "//" + image.IMG_Name)" alt="Image" /></td>
                    <td class="valign-center">@image.tblAlbum.ALB_Name</td>
                    <td class="valign-center">@image.tblEnvironmentalCondition.ENC_Name</td>
                    <td class="valign-center">@image.tblFeature.FTR_Name</td>
                    <td class="valign-center">
                        <a title="View Image" class="my_act_btn" href="@Url.Action("Details", "Album", new { albumId = Html.Encode(image.ALB_IDFkey), imageId = Html.Encode(image.IMG_IDPkey) })">
                            <button type="button" class="btn btn-primary btn-xs">
                                <span class="glyphicon "></span> View
                            </button>
                        </a>
                    </td>
                </tr>
            }


        </table>
            }
    }
</div>
